@require '../../styles/colors.styl'
@require '../../styles/responsive.styl'

.Content
  width 100%
  padding 3em
  width 70vw
  & .react-tabs
    & .react-tabs__tab-list
      padding 0
    & .react-tabs__tab--selected
      color primary
      font-weight bold
    & ul
      display flex
      flex-direction row
      justify-content space-between
      & li
        list-style none
        cursor pointer
