@require '../../styles/colors.styl'
@require '../../styles/responsive.styl'

.Contact
  background-image url('../../resources/castillo.png')
  background-size cover
  background-position center
  color white
  display flex
  flex-direction column
  justify-content flex-start
  text-align center
  padding 3em .5em
  width 30vw
  & h1
    margin-bottom .5em
  & h2
    margin-top 0
