@require '../../styles/colors.styl'
@require '../../styles/responsive.styl'

.Contact
  background-color primary
  color white
  display flex
  flex-direction column
  justify-content space-between
  text-align center
  padding 2em .5em
  & h1
    margin-bottom .5em
  & h2
    margin-top 0
  & img
    width 50vw
    max-width 200px
    border-radius 50%
    margin auto
