@require '../../styles/colors.styl'

.PercentLines
  display flex
  flex-direction column
  justify-content space-between
  &-block
    display flex
    flex-direction row
    justify-content flex-start
    &-text
      text-align right
      width 100px
      padding-right .5em
    &-percentage
      text-align left
      width 100px
      padding-left .5em
      animation-name colisionBar
      animation-duration 1s
    &-barContainer
      display flex
      flex-direction column
      justify-content center
      position relative
      width 100%
      &-bar
        background primary_light
        width 20%
        height 10px
        position absolute
        animation-name chargeBar
        animation-duration 1s

@keyframes chargeBar {
    0% {width: 0%;}
}

@keyframes colisionBar {
    0% {opacity: 0}
    50% {opacity: 0}
    100% {opacity: 1}
}
