@require '../../styles/colors.styl'

.PercentLines
  display flex
  flex-direction row
  justify-content space-between
  &-container
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;
    &-bar
      background-color primary_light
      width: 20%;
      height: 20px;
      position: absolute;
